/* This is to be mostly for setting properties that affect layout. */
/* Use styles.css for setting colours etc.                         */
/* svg sizing will be carried out in JS depending on the size of containing elements */


body {
  display: flex;
  height:100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

#viewport {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  height: 90vh;
  /* width: 100%; */
  width: 120vh;
  /* padding: 5vh; */
  /* min-width: 100vh; */
  justify-content: center;
  align-items: center;
}

#numerals, #shapes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

#fraction {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#fraction, .number-selector {
  width: 90%;
}

.number-selector {
  display: initial;
  height: 10%;
  min-height: 20px;
}

.number-big {
  align-items: center;
  font-size: 30vh;
}

.fraction-bar {
  display: initial;
  height: 5%;
  width: 70%;
  min-height: 5px;
}

#shapes {
  flex-direction: column;
  align-items: center;
}

.shape-selector, .shape-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 10vh;
  min-height: 20px;
}

.shape-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 80vh;
  height: 80vh;
  width: 100%;
}

.shape-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* overflow: hidden; */
}

.shape {
  /* width:fit-content;
  height:fit-content; */
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}


.shape > svg {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.shift-up {
  justify-content: space-around;
}

@media (orientation: landscape) and (min-aspect-ratio: 16/9) {
  #main {
    width: 160vh;
  }

  #numerals {
    width: 50vh;
  }

  #shapes {
    width: 110vh;
    height: 100%;
  }

  .shape-display {
    flex-direction: row;
    align-items: center;
  }

  .shape-container {
    max-height: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }

  .shape {
    max-height: 100%;
  }

  .shift-up {
    justify-content: flex-start;
  }
}

@media (orientation: portrait) and (min-aspect-ratio: 5/11) {
  #main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90vw;
  }

  #numerals, #shapes {
    display: flex;
    height: 50%;
    width: 90vw;
  }

  #shapes {
    order: 1;
  }

  .shape-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    min-height: 30vh;
  }

  .shape-container {
    display:flex;
    height: 100%;
    max-height: 100%;
    flex-direction: column;
    justify-content: space-around;
  }

  .shape {
    max-height: 100%;
  }

  #numerals {
    order: 2;
    align-items: center;
  }

  #fraction, .number-selector {
    width: 60%;
  }

  .fraction-bar {
    max-width: 20vh;
  }

  .number-big {
    font-size: 15vh;
  }

  .shift-up {
    justify-content: flex-start;
  }

}

@media (orientation: portrait) and (max-aspect-ratio: 5/11) {
  #main {
    display: flex;
    height: 90vh;
    width: 90vw;
    flex-direction: column;
  }

  #numerals, #shapes {
    width: 100%;
  }

  #numerals {
    display: flex;
    height: 30vh;
    order: 2;
  }

  #shapes {
    display: flex;
    height: 60vh;
    overflow: hidden;
    order: 1;
  }

  .shape-display {
    flex-direction: column;
    overflow: hidden;
    height: 50vh;
  }

  .shape-quantity, .shape-selector {
    height: 5vh;
  }

  .shape-container {
    flex-direction: row;
    width: auto;
  }

  .shape {
    max-height: 100%;
  }

  #fraction {
    flex-direction: row;
    justify-content: center;
  }

  .number-big {
    font-size: 12vh;
  }

  .fraction-bar {
    height: 13vh;
    width: 5%;
    margin:5%;
    min-width: 5px;
    background: black;
    transform: rotate(12deg);
  }
}

.hide {
  display: none;
}
