body {
  height:100%;
  overflow: hidden;
}

#viewport {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  height: 90vh;
  width: 120vh;
}

#numerals, #shapes {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 50%;
}

#fraction {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

#fraction, .number-selector {
  width: 90%;
}

.number-selector {
  height: 10%;
  min-height: 20px;
}

.number-big {
  display: flex;
  height: 80%;
  align-items: center;
  font-size: 30vh;
}

.fraction-bar {
  height: 5%;
  width: 70%;
  min-height: 5px;
  background: black;
}

#shapes {
  flex-direction: column;
  align-items: center;
}

.shape-selector, .shape-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 10vh;
}

.shape-display {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
}

.shape-container {
  height: 50%;
  border: 1px solid black;
}

@media (orientation: landscape) and (min-aspect-ratio: 16/9) {
  #main {
    width: 160vh;
  }

  #numerals {
    width: 55vh;
  }

  #shapes {
    width: 110vh;
  }

  .shape-display {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .shape-container {
    width: 50%;
    height: 100%;
  }
}

@media (orientation: portrait) {
  #main {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 90vw;
  }

  #numerals, #shapes {
    height: 50%;
    width: auto;
  }

  #shapes {
    order: 1;
  }

  .shape-display {
    flex-direction: row;
  }

  .shape-container {
    width: 50%;
    height: 100%;
  }

  #numerals {
    order: 2;
    align-items: center;
  }

  #fraction, .number-selector {
    width: 60%;
  }

  .fraction-bar {
    max-width: 20vh;
  }

  .number-big {
    font-size: 15vh;
  }

}

@media (orientation: portrait) and (max-aspect-ratio: 5/11) {
  #main {
    display: flex;
    height: 95vh;
    width: 90vw;
    flex-direction: column;
  }


  #numerals {
    height: 30vh;
  }

  #shapes {
    height: 70vh;
  }

  .shape-display {
    flex-direction: column;
    height: 100%;
  }

  .shape-container {
    height: 50%;
    width: auto;
  }

  #fraction {
    flex-direction: row;
    justify-content: center;
  }

  .number-big {
    font-size: 12vh;
  }

  .fraction-bar {
    height: 13vh;
    width: 5%;
    margin:5%;
    min-width: 20px;
    background: black;
    transform: rotate(12deg);
  }
}
