body {
  height:100%;
  overflow: hidden;
}

#viewport {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  height: 90vh;
  width: 120vh;
}

#numerals, #shapes {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 50vw;
}

#fraction {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

#fraction, .number-selector {
  width: 90%;
}

.number-selector {
  height: 10%;
}

.number-big {
  display: flex;
  height: 80%;
  align-items: center;
  font-size: 30vh;
}

.fraction-bar {
  height: 5%;
  width: 70%;
  min-height: 5px;
  background: black;
}

#shapes {
  flex-direction: column;
  align-items: center;
}

.shape-selector, .shape-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 10vh;
}

.shape-display {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
}

@media (orientation: landscape) and (min-aspect-ratio: 5/2) {
  #main {
    width: 180vh;
  }

  #numerals, #shapes {
    width: auto;
  }
  #numerals {
    flex-grow: 1;
  }

  #shapes {
    flex-grow: 2;
  }

  .shape-display {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  #main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90vw;
  }

  #numerals, #shapes {
    height: 50vh;
    width: auto;
  }

  #shapes {
    order: 1;
  }

  #numerals {
    order: 2;
    align-items: center;
  }

  #fraction, .number-selector {
    width: 60%;
  }

  .number-big {
    font-size: 15vh;
  }

  .shape-display {
    flex-direction: row;
  }
}

@media (orientation: portrait) and (max-aspect-ratio: 2/5) {
  #main {
    display: flex;
    height: 100vh;
    width: 90vw;
    flex-direction: column;
  }

  #numerals, #shapes {
    height: auto;
  }
  #numerals {
    flex-grow: 1;
  }

  #shapes {
    flex-grow: 2;
  }

  .shape-display {
    flex-direction: column;
  }

  #fraction {
    flex-direction: row;
    justify-content: center;
  }

  .fraction-bar {
    height: 15vh;
    width: 5%;
    margin:2%;
    min-width: 15px;
    background: black;
    transform: rotate(15deg);
  }
}
